<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day261</display-name>
  <filter>
    <filter-name>CharneFilter</filter-name>
    <filter-class>com.cissst.bysales.web.filter.CharneFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharneFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.cissst.bysales.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>Customerservlet</servlet-name>
    <servlet-class>com.cissst.bysales.web.servlet.Customerservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Supplerservlet</servlet-name>
    <servlet-class>com.cissst.bysales.web.servlet.Supplerservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Productservlet</servlet-name>
    <servlet-class>com.cissst.bysales.web.servlet.Productservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inservlet</servlet-name>
    <servlet-class>com.cissst.bysales.web.servlet.Inservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Userservlet</servlet-name>
    <servlet-class>com.cissst.bysales.web.servlet.Userservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inpayservlet</servlet-name>
    <servlet-class>com.cissst.bysales.web.servlet.Inpayservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Saveservlet</servlet-name>
    <servlet-class>com.cissst.bysales.web.servlet.Saveservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Sellservlet</servlet-name>
    <servlet-class>com.cissst.bysales.web.servlet.Sellservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Rkthservlet</servlet-name>
    <servlet-class>com.cissst.bysales.web.servlet.Rkthservlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Customerservlet</servlet-name>
    <url-pattern>/Customerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Supplerservlet</servlet-name>
    <url-pattern>/Supplerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Productservlet</servlet-name>
    <url-pattern>/Productservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inservlet</servlet-name>
    <url-pattern>/Inservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Userservlet</servlet-name>
    <url-pattern>/Userservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inpayservlet</servlet-name>
    <url-pattern>/Inpayservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Saveservlet</servlet-name>
    <url-pattern>/Saveservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sellservlet</servlet-name>
    <url-pattern>/Sellservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rkthservlet</servlet-name>
    <url-pattern>/Rkthservlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>